# Core dependencies
ale-py==0.8.1
autorom[accept-rom-license]==0.6.1
gymnasium[atari]==0.29.1
matplotlib==3.7.2
opencv-python==4.8.1.78
stable-baselines3==2.1.0
stockfish==3.28.0
tensorboard==2.14.0
torch==2.1.0
numpy==1.24.3
chess==1.10.0

# Simple test dependencies
pytest==7.4.3
flake8==6.1.0
black==23.11.0
